@font-face {
  font-family: Techno;
  font-weight: 500;
  src: url("../fonts/techno28/techno28_allfont_ru.ttf") format("truetype");
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: white;
}
.navigation {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 3px 7px 1px #797979;
  top: 0;
}
.slider-wrapper {
  margin-bottom: 65px;
}
.navbar-toggle {
  border: 1px solid lightgrey;
  padding: 8px 6px;
}
.navbar-toggle .icon-bar {
  background-color: #888;
}
#top-n-horizontal .owl-buttons .owl-prev,
#friends .owl-buttons .owl-prev,
#owl-example .owl-buttons .owl-prev {
  top: 40%;
  position: absolute;
  left: 0;
  background-image: url(images/arr-left1.png);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
  color: transparent;
  opacity: 1;
  border-radius: 0;
}
#top-n-horizontal .owl-buttons .owl-next,
#friends .owl-buttons .owl-next,
#owl-example .owl-buttons .owl-next {
  top: 40%;
  position: absolute;
  right: 0;
  background-image: url(images/arr-right1.png);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
  color: transparent;
  opacity: 1;
  border-radius: 0;
}
#friends {
  max-height: 100px;
}
#friends .owl-buttons .owl-prev,
#friends .owl-buttons .owl-next {
  top: 25%;
}
#top-n-horizontal {
  margin-bottom: 15px;
}
#top-n-horizontal .owl-buttons .owl-prev,
#top-n-horizontal .owl-buttons .owl-next {
  top: 31%;
}
div.unslider {
  text-align: center;
}
div.unslider .unslider-arrow {
  background-color: transparent;
  background-repeat: no-repeat;
  width: 28px;
  height: 18px;
  background-size: 26px;
  color: transparent;
  position: absolute;
  left: 79px;
}
div.unslider .unslider-arrow.next {
  left: calc(50% - 14px);
  position: absolute;
  width: 28px;
  height: 22px;
  bottom: 0;
  background-image: url(images/arr-down.png);
}
div.unslider .unslider-arrow.prev {
  left: calc(50% - 14px);
  width: 28px;
  background-image: url(images/arr-up.png);
}
.alert.success {
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  display: none;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
}
.main-menu-wrapper #main-menu {
  float: right;
  border-radius: 0;
}
.main-menu-wrapper #main-menu li:last-child > a,
.main-menu-wrapper #main-menu a {
  border-radius: 0;
}
.main-menu-wrapper #main-menu li:last-child > a .sub-arrow,
.main-menu-wrapper #main-menu a .sub-arrow {
  top: 48%;
  right: 7px;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #535353;
  background: #F8F8F8;
}
.top-news {
  background-color: white;
  padding: 10px 20px 40px 20px;
  border: 1px solid lightgrey;
  box-shadow: 0 1px 3px 2px #797979;
}
.top-news a {
  text-decoration: none;
  outline: none;
}
.top-news .slide-wrapper img {
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #FFB273;
}
.top-news .news-ttitle {
  font-weight: bold;
  color: #535353;
  margin-bottom: 5px;
}
.top-news .news-slide-bottom {
  height: 274px;
  overflow: hidden;
}
.top-news .owl-page.active span {
  background-color: #00796B;
}
.top-news .owl-page:hover span {
  background-color: #009688;
}
.news-gorizontal,
.news-wrapper {
  margin-bottom: 10px;
  padding: 10px 15px 10px 10px;
  border-radius: 4px;
}
.news-gorizontal .n-text,
.news-wrapper .n-text {
  width: 75%;
  margin: auto;
  padding-right: 0;
  font-size: 14px;
  text-align: justify;
  word-wrap: break-word;
}
.news-gorizontal .n-text h4,
.news-wrapper .n-text h4 {
  font-weight: bold;
  margin: 4px 0;
}
.news-gorizontal .n-text h4 a,
.news-wrapper .n-text h4 a {
  color: #535353;
  text-decoration: none;
  transition: color 0.3s ease;
}
.news-gorizontal .n-text h4 a:hover,
.news-wrapper .n-text h4 a:hover {
  color: #00796B;
  transition: color 0.3s ease;
}
.news-gorizontal .n-text .share-label,
.news-wrapper .n-text .share-label {
  color: #00796B;
  font-weight: 700;
  border-bottom: 3px solid #FFB273;
  display: inline-block;
  padding: 4px;
  margin-bottom: 10px;
}
.news-gorizontal .n-text .addthis_inline_share_toolbox,
.news-wrapper .n-text .addthis_inline_share_toolbox {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.news-gorizontal .n-text .n-published,
.news-wrapper .n-text .n-published {
  color: #535353;
  display: block;
  text-align: right;
}
.news-gorizontal .n-text .n-published .n-time,
.news-wrapper .n-text .n-published .n-time {
  color: #A9A9A9;
}
.news-gorizontal .n-text .n-tags,
.news-wrapper .n-text .n-tags {
  display: inline;
  color: #535353;
}
.news-gorizontal .n-text .n-tags .comma,
.news-wrapper .n-text .n-tags .comma {
  margin-left: -5px;
}
.news-gorizontal .n-text .n-tags a,
.news-wrapper .n-text .n-tags a {
  color: #A9A9A9;
  text-decoration: none;
  transition: color 0.3s ease;
}
.news-gorizontal .n-text .n-tags a:hover,
.news-wrapper .n-text .n-tags a:hover {
  color: #00796B;
  transition: color 0.3s ease;
}
.news-gorizontal .n-text .read-more a,
.news-wrapper .n-text .read-more a {
  color: #A9A9A9;
  text-decoration: none;
  transition: color 0.3s ease;
}
.news-gorizontal .n-text .read-more a:hover,
.news-wrapper .n-text .read-more a:hover {
  color: #00796B;
  transition: color 0.3s ease;
}
.news-gorizontal .n-text .n-author,
.news-wrapper .n-text .n-author {
  float: right;
}
.related-news-wrapper .news-wrapper {
  text-align: center;
}
.related-news-wrapper .news-wrapper img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}
.news-index .news-wrapper.even .n-image {
  float: right;
}
.news-index .news-wrapper.even .n-text {
  padding-left: 0;
  padding-right: 15px;
}
.news-index .n-image {
  overflow: hidden;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}
.news-index .n-image img {
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #FFB273;
}
.adm-wrapper .employee-wrapper {
  text-align: center;
}
.adm-wrapper .employee-wrapper .adm-fio {
  font-weight: 700;
}
.adm-wrapper .employee-wrapper .adm-posada {
  margin: 15px 0;
  font-weight: 700;
  font-size: 16px;
}
.adm-wrapper .employee-wrapper .adm-body {
  font-size: 15px;
  text-align: justify;
}
.page-404 {
  background-color: #000;
  font-family: cern, monospace;
  color: #00ff80;
}
.breadcrumbs {
  width: 100%;
  padding: 0;
  margin: 0;
}
.breadcrumbs ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 0 0 15px;
}
.breadcrumbs ul li {
  display: inline;
}
.breadcrumbs ul li a {
  color: #333;
  text-decoration: none;
}
.breadcrumbs ul li a span {
  padding-left: 3px;
  padding-right: 0;
}
.breadcrumbs ul li:first-child {
  margin-left: 0;
}
.breadcrumbs ul li:first-child a {
  color: #00796B;
}
.breadcrumbs ul li:last-child a {
  pointer-events: none;
  cursor: default;
}
.breadcrumbs ul li:last-child a span {
  display: none;
}
.qoute-vertical {
  margin-top: 25px;
}
.qoute-vertical .qoute-title {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 5px;
}
.pagination-block {
  text-align: center;
}
.pagination-block .pagination a,
.pagination-block .pagination span {
  cursor: pointer;
  border: 1px solid #C9C9C9;
  background-color: #F2F2F2;
  margin-right: 3px;
  border-radius: 3px;
  color: #737373;
  padding: 3px 8px;
}
.pagination-block .pagination a:hover,
.pagination-block .pagination li:hover {
  background-color: #fff;
}
.pagination-block .pagination li.active span {
  background-color: #5A5A5A;
  color: #ECECEC;
}
.topn-slide {
  margin-top: 10px;
}
.topnews-slider {
  position: relative;
}
div.unslider {
  padding-top: 10px;
  position: relative;
  width: 100%;
  top: 15px;
  margin-bottom: 25px;
}
div.unslider .unslider-arrow.prev {
  top: 0;
}
div.unslider .unslider-arrow {
  display: block;
  width: 100%;
  left: 0;
  text-align: center;
}
.n-cover {
  text-align: center;
  margin-bottom: 25px;
}
.n-cover img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}
.title-wrapper {
  text-align: center;
}
.title-wrapper .page-title {
  color: #00796B;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 19px;
  padding-bottom: 6px;
  margin: 10px 0 10px 0;
  border-bottom: 3px solid #FFB273;
  display: inline-block;
}
.title-wrapper .divide-title {
  display: inline-block;
}
.qoute-horizontal {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}
.qoute-horizontal .qoute-title {
  font-weight: 700;
}
.qoute-horizontal .quote-author {
  text-align: right;
}
.news-gorizontal {
  padding-bottom: 20px;
}
.news-gorizontal .n-published {
  color: #535353;
  display: block;
  text-align: right;
}
.news-gorizontal .n-published .n-time {
  color: #A9A9A9;
}
.news-gorizontal .n-tags {
  display: inline;
  color: #535353;
}
.news-gorizontal .n-tags .comma {
  margin-left: -5px;
}
.news-gorizontal .n-tags a {
  color: #A9A9A9;
  text-decoration: none;
  transition: color 0.3s ease;
}
.news-gorizontal .n-tags a:hover {
  color: #00796B;
  transition: color 0.3s ease;
}
.news-gorizontal .n-text {
  font-size: 15px;
  background-color: white;
  padding: 10px 20px 40px 20px;
  border: 1px solid lightgrey;
  box-shadow: 0 1px 3px 2px #797979;
}
.news-gorizontal .nbody {
  margin-top: 10px;
  text-align: initial;
  font-weight: initial;
  font-size: initial;
}
.news-gorizontal .nbody img {
  padding: 10px;
  max-width: 100%;
}
.news-gorizontal .n-author {
  text-align: right;
  font-weight: 700;
  font-size: 16px;
}
.divide-title {
  color: #00796B;
  line-height: 1.2;
  margin: 10px 0 20px 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 6px;
  border-bottom: 3px solid #FFB273;
  text-align: center;
}
.btn.btn-zkr {
  background-color: #00796B;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  margin: auto;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.btn.btn-zkr:hover,
.btn.btn-zkr:focus {
  background-color: #009688;
  color: #fff;
}
hr.divider {
  border-top: 2px solid #00796B;
}
hr.divider.show {
  float: left;
  width: 100%;
}
.page-title {
  text-align: center;
}
.advnews {
  background-color: white;
  padding: 10px 20px 40px 20px;
  border: 1px solid lightgrey;
  box-shadow: 0 1px 3px 2px #797979;
}
.advnews .tabs {
  color: #00796B;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
.advnews .tabs span {
  border-bottom: 3px solid #FFB273;
  width: 49%;
  text-align: center;
  display: inline-block;
  color: #FFB273;
}
.advnews .tabs span.active {
  color: #00796B;
  border-bottom: 3px solid #00796B;
}
.advnews .advert-tab {
  display: none;
}
.advnews .news-tab .fn-wrapper,
.advnews .advert-tab .fn-wrapper {
  margin-bottom: 10px;
}
.advnews .news-tab .fn-wrapper .fn-created,
.advnews .advert-tab .fn-wrapper .fn-created {
  color: #FFB273;
}
.advnews .news-tab .fn-wrapper .fn-image,
.advnews .advert-tab .fn-wrapper .fn-image {
  vertical-align: top;
  display: inline-block;
  width: 100px;
}
.advnews .news-tab .fn-wrapper .fn-image img,
.advnews .advert-tab .fn-wrapper .fn-image img {
  border-radius: 10px;
}
.advnews .news-tab .fn-wrapper .fn-fields,
.advnews .advert-tab .fn-wrapper .fn-fields {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: calc(100% - 115px);
  word-break: break-word;
}
.advnews .news-tab .fn-wrapper .fn-fields a,
.advnews .advert-tab .fn-wrapper .fn-fields a {
  text-decoration: none;
}
.advnews .news-tab .fn-wrapper .fn-fields .fn-title,
.advnews .advert-tab .fn-wrapper .fn-fields .fn-title {
  color: #00796B;
  line-height: 1.2;
  margin: 0 0 7px 0;
  font-weight: 700;
}
.advnews .news-tab .fn-wrapper .fn-fields .fn-body,
.advnews .advert-tab .fn-wrapper .fn-fields .fn-body {
  font-size: 13px;
  line-height: 19px;
  color: #535353;
}
.advnews .news-tab .fn-more,
.advnews .advert-tab .fn-more {
  text-align: center;
}
.advnews .news-tab .fn-more .btn,
.advnews .advert-tab .fn-more .btn {
  background-color: #00796B;
}
.advnews .news-tab .fn-more .btn .watch-all,
.advnews .advert-tab .fn-more .btn .watch-all {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}
.all-c-wrapper .c-wrapper:nth-child(even) .c-image {
  float: right;
}
.all-c-wrapper .c-image img {
  max-width: 100%;
  height: auto;
}
.all-c-wrapper h4 a {
  color: #535353;
  font-weight: 700;
}
.all-c-wrapper a {
  color: #A9A9A9;
  text-decoration: none;
  transition: color 0.3s ease;
}
.all-c-wrapper a:hover {
  color: #00796B;
  transition: color 0.3s ease;
}
.hp-small-title {
  color: #00796B;
  line-height: 1.2;
  margin: 0 0 20px 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 6px;
  border-bottom: 1px solid #bcbcbc;
}
.massonry-wrapper {
  margin: 25px 0 20px 0;
  text-align: center;
}
.massonry-wrapper .massonry-wrapper-inner {
  max-width: 1300px;
  margin: auto;
}
.massonry-wrapper .plate-wrapper {
  width: 24%;
  border-radius: 10px;
  min-height: 300px;
  background-color: #009688;
  color: #fff;
  padding: 20px 15px;
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px;
  margin-right: 6px;
  border: 1px solid #00796B;
  box-shadow: 1px 3px 5px 1px #797979;
  transition: background-color 0.6s ease;
  min-width: 300px;
}
.massonry-wrapper .plate-wrapper img {
  max-width: 150px;
}
.massonry-wrapper .plate-wrapper a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
.massonry-wrapper .plate-wrapper .plate-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}
.massonry-wrapper .plate-wrapper .plate-body ul {
  padding: 0;
  margin: 0;
}
.massonry-wrapper .plate-wrapper .plate-body li {
  padding: 5px 0;
  list-style-type: none;
  border-bottom: 1px solid #BCBCBC;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  transition: background-color 0.6s ease, color 0.6s ease;
}
.massonry-wrapper .plate-wrapper .plate-body li:hover {
  color: #009688;
  background-color: white;
  transition: background-color 0.6s ease, color 0.6s ease;
}
.massonry-wrapper .plate-wrapper:hover {
  background-color: #00796B;
  transition: background-color 0.6s ease;
}
.friends-wrapper {
  text-align: center;
  margin-bottom: 20px;
}
.friends-wrapper .owl-item {
  margin: 0 1px;
}
.zkr-footer {
  background-color: #2f2f2f;
  color: #fff;
  padding: 20px;
  text-align: right;
  font-size: 14px;
}
.left-nav-wrapper {
  width: 50%;
  max-width: 50%;
  float: left;
  padding: 0;
}
.left-nav-wrapper .site-slogan {
  text-align: right;
  display: inline-block;
  color: white;
  font-style: italic;
  margin: 13px 0;
  font-size: 25px;
  font-family: Techno, serif;
}
.left-nav-wrapper .site-slogan a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
.gerb-wrapper {
  position: fixed;
  z-index: 100;
  left: 120px;
  text-align: center;
  top: 0;
  background-repeat: no-repeat;
}
.gerb-wrapper .clock-gerb-wrapper {
  margin-top: 10px;
}
.content-wrapper {
  position: relative;
}
.main-menu-wrapper {
  background: rgba(0, 0, 0, 0.6);
}
.main-menu-wrapper .relative-wrapper {
  position: relative;
}
.main-menu-wrapper .site-logo {
  text-align: left;
}
.main-menu-wrapper .site-logo img {
  width: 60px;
  height: 50px;
  margin-top: 2px;
  display: none;
}
.main-menu-wrapper #main-menu.sm-blue {
  z-index: 10;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}
.main-menu-wrapper #main-menu.sm-blue li {
  border: none;
}
.main-menu-wrapper #main-menu.sm-blue li ul {
  padding: 10px 0;
  border-radius: 0;
  background-color: #009688;
  border: none;
}
.main-menu-wrapper #main-menu.sm-blue li ul li a {
  background-color: #009688;
  font-size: 14px;
  padding: 5px 20px;
}
.main-menu-wrapper #main-menu.sm-blue li ul li:hover a {
  background: #B2DFDB;
}
.main-menu-wrapper #main-menu.sm-blue li:hover a {
  background-color: #009688;
}
.main-menu-wrapper #main-menu.sm-blue li:hover a span.sub-arrow {
  background-image: url(images/menu_dropdown_hover.png);
}
.main-menu-wrapper #main-menu.sm-blue a {
  padding: 18px 20px 13px 13px;
  background: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  color: white;
  text-align: left;
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}
.main-menu-wrapper #main-menu.sm-blue a span.sub-arrow {
  right: 5px;
  top: 48%;
  background-image: url(images/menu_dropdown_hover.png);
  background-repeat: no-repeat;
  border: none;
  width: 12px;
  height: 12px;
}
.main-menu-wrapper #main-menu.sm-blue > li:first-child > a {
  background-image: url(images/house-icon-mm-white.png);
  font-size: 0;
  width: 46px;
  height: auto;
  background-repeat: no-repeat;
  background-position: 50% 59%;
  min-height: 59px;
}
.main-menu-wrapper #main-menu.sm-blue > li > a {
  border-bottom: 5px solid #00796B;
  border-bottom: 5px solid transparent;
  background-color: transparent;
}
.main-menu-wrapper #main-menu.sm-blue > li:hover > a {
  border-bottom: 5px solid #FFB273;
}
.btn {
  box-shadow: 0 2px 5px 1px #797979;
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.goup-container {
  background-color: #FFB273 !important;
  opacity: 0.9;
}
#owl-example .owl-wrapper .slide-wrapper {
  background-color: lightgrey;
}
#owl-example .owl-wrapper .slide-wrapper img {
  display: block;
  width: 100%;
  height: 500px !important;
  max-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 75%;
}
.unslider-wrap img {
  max-width: 100%;
  height: auto;
}
.developer-name a {
  color: inherit;
  text-decoration: underline;
  outline: none;
}
@media (max-width: 1500px) {
  .left-nav-wrapper .site-slogan {
    margin: 0;
  }
  .gerb-wrapper {
    left: 100px;
  }
}
@media (max-width: 991px) {
  #top-news {
    margin-bottom: 15px;
  }
  .news-index .news-wrapper.even .n-image {
    float: none;
  }
  .gerb-wrapper {
    display: none !important;
  }
  .main-menu-wrapper .site-logo img {
    display: none !important;
  }
  .left-nav-wrapper {
    float: left;
    width: auto;
    padding-left: 10px;
  }
  .left-nav-wrapper .site-logo {
    width: 0;
    display: none;
  }
  .left-nav-wrapper .site-slogan {
    width: 250px;
    padding: 0 2px;
  }
}
@media (max-width: 767px) {
  .adm-wrapper,
  .content-md-10 {
    padding: 0;
  }
  .news-gorizontal .n-text,
  .news-wrapper .n-text {
    width: 100%;
  }
  .news-index .news-wrapper.odd .n-text,
  .news-index .news-wrapper.even .n-text {
    padding: 0;
  }
  .news-wrapper .n-text {
    padding: 10px 10px 40px 10px;
  }
  .left-nav-wrapper {
    width: calc(100% - 60px);
    display: inline-block;
    max-width: 100%;
    float: none;
    text-align: center;
  }
  .left-nav-wrapper .site-slogan {
    width: 100%;
    float: none;
    display: block;
    text-align: center;
    margin-top: 5px;
    max-width: 300px;
  }
  .navbar-header {
    vertical-align: super;
    display: inline-block;
    float: none;
  }
  .navbar-header .navbar-toggle {
    margin: 0;
  }
  .main-menu-wrapper #main-menu.sm-blue > li:first-child > a {
    background-image: none;
    font-size: inherit;
    width: 100%;
  }
  .main-menu-wrapper ul#main-menu {
    float: none;
  }
  .main-menu-wrapper #main-menu.sm-blue a span.sub-arrow {
    width: 33px;
    height: 33px;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: none;
  }
  .main-menu-wrapper #main-menu.sm-blue li:hover a {
    background: transparent;
  }
  .main-menu-wrapper #main-menu.sm-blue li:hover a span.sub-arrow {
    background-image: none;
  }
  .main-menu-wrapper #main-menu.sm-blue li ul {
    background: transparent;
  }
  .main-menu-wrapper #main-menu.sm-blue li ul li a,
  .main-menu-wrapper #main-menu.sm-blue li ul li:hover a {
    background: transparent;
  }
}
@media (max-width: 480px) {
  .main-menu-wrapper ul#main-menu {
    float: none;
  }
}
.feed-icon {
  display: inline-block;
  background-image: url(images/rssicon.png);
  background-position: center right;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  cursor: pointer;
  vertical-align: top;
}

/*# sourceMappingURL=app.css.map */
