//Ñèíå æåëòûé êëàññèêà
@dark-blue: #0C5B7C;
@blue: #2c8dee;
@whiteblue: #68AEF6;
@yellow: #fbc032;
@greyA: #aaa;
@btn-text-color: #fff;

//Ñèíå êðàñíûé íâ 3
@dark-blue: #0C5B7C;
@blue: #2c8dee;
@whiteblue: #68AEF6;
@yellow: #FF5252;
@greyA: #aaa;
@btn-text-color: #fff;

//yellow brown Yellow ok, brown shit
@dark-blue: #FFA000;
@blue: #FFC107;
@whiteblue: #FFECB3;
@yellow: #795548;
@greyA: #795548;
@btn-text-color: #fff;



//green lime
@dark-blue: #388E3C;
@blue: #4CAF50;
@whiteblue: #C8E6C9;
@yellow: #CDDC39;
@greyA: #CDDC39;
@btn-text-color: #fff;

//dark is main lime 4+
@dark-blue: #4CAF50;
@blue: #388E3C;
@whiteblue: #C8E6C9;
@yellow: #CDDC39;
@greyA: #CDDC39;
@btn-text-color: #fff;

//darkgreen with grey 4
@dark-blue: #4CAF50;
@blue: #388E3C;
@whiteblue: #C8E6C9;
@yellow: #9E9E9E;
@greyA: #9E9E9E;
@btn-text-color: #fff;

//Teal Cyan 4+
@dark-blue: #00796B;
@blue: #009688;
@whiteblue: #B2DFDB;
@yellow: #00BCD4;
@greyA: #00BCD4;
@btn-text-color: #fff;



//Purple Cyan Darker 4  --Ñèðåíåâûé
@dark-blue: #61249e;
@blue: #51237f;
@whiteblue: #9a4bea;
@yellow: #00BCD4;
@greyA: #00BCD4;
@btn-text-color: #fff;

//orange amber //Ìåíþ âûãëÿäèò êðóòî, íî îñòàëüíîå ñëèâàåòñÿ
@dark-blue: #F57C00;
@blue: #FF9800;
@whiteblue: #FFE0B2;
@yellow: #FFC107;
@greyA: #FFC107;
@btn-text-color: #fff;

//Teal Cyan Darker 4++
@dark-blue: #009688;
@blue: #00796B;
@whiteblue: #B2DFDB;
@yellow: #FFB273;
@greyA: #FFB273;
@btn-text-color: #fff;

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: white;
  //fbf3da
}

.navigation {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 3px 7px 1px rgb(121, 121, 121);
  top: 0;
}

.slider-wrapper {
  margin-top: 59px;
}

#top-n-horizontal,
#friends,
#owl-example {
  .owl-buttons {
    .owl-prev {
      top: 40%;
      position: absolute;
      left: 0;
      background-image: url(images/arr-left1.png);
      background-color: transparent;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      background-size: 50px;
      color: transparent;
      opacity: 1;
      border-radius: 0;
    }
    .owl-next {
      top: 40%;
      position: absolute;
      right: 0;
      background-image: url(images/arr-right1.png);
      background-color: transparent;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      background-size: 50px;
      color: transparent;
      opacity: 1;
      border-radius: 0;
    }
  }
}
#friends {
  max-height: 100px;
  .owl-buttons {
    .owl-prev,
    .owl-next {
      top: 25%;
    }
  }
}
#top-n-horizontal {
  margin-bottom: 15px;
  .owl-buttons {
    .owl-prev,
    .owl-next {
      top: 31%;
    }
  }
}
div.unslider {
  .unslider-arrow {
    background-color: transparent;
    background-repeat: no-repeat;
    width: 28px;
    height: 18px;
    background-size: 26px;
    color: transparent;
    position: absolute;
    left: 76px;
  }
  .unslider-arrow.next {
    left: 79px;
    position: absolute;
    width: 28px;
    height: 22px;
    bottom: 0;
    background-image: url(images/arr-down.png);
  }
  .unslider-arrow.prev {
    left: 79px;
    width: 28px;
    background-image: url(images/arr-up.png);
  }
}


.alert.success {
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  display: none;
  width: 100%;

  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
}

.main-menu-wrapper {
  #main-menu {
    float: right;
    border-radius: 0;
    li:last-child > a,
    a {
      border-radius: 0;
      .sub-arrow {
        top: 48%;
        right: 7px;
      }
    }
  }
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #535353;
}

p {
  //text-align: justify;
}
.top-news {
  a {
    text-decoration: none;
    outline: none;
  }
  .slide-wrapper {
    img {
      padding: 10px;
      border-radius: 10px;
      border: 3px solid @yellow;
    }
  }
  .news-ttitle {
    font-weight: bold;
    color: #535353;
  }
  .news-slide-bottom {
    height: 223px;
    overflow: hidden;
  }
  .owl-page.active {
    span {
      background-color: @blue;
    }
  }
  .owl-page:hover {
    span {
      background-color: @dark-blue;
    }
  }
}

.news-gorizontal,
.news-wrapper {
  //background-color: #F5FFF9;
  margin-bottom: 10px;
  padding: 10px 15px 10px 10px;
  border-radius: 4px;
  .n-text {
    width: 75%;
    margin: auto;
    h4 {
      font-weight: bold;
      margin: 4px 0;
      a {
        color: #535353;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      a:hover {
        color: @blue;
        transition: color 0.3s ease;
      }
    }
    .share-label {
      color: @blue;
      font-weight: 700;
      border-bottom: 3px solid @yellow;
      display: inline-block;
      padding: 4px;
      margin-bottom: 10px;
    }
    .addthis_inline_share_toolbox {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
    }
    .n-published {
      color: #535353;
      display: block;
      text-align: right;
      .n-time {
        color: #A9A9A9;
      }
    }
    .n-tags {
      display: inline;
      .comma {
        margin-left: -5px;
      }
      color: #535353;
      a {
        color: #A9A9A9;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      a:hover {
        color: @blue;
        transition: color 0.3s ease;
      }
    }
    .read-more {
      a {
        color: #A9A9A9;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      a:hover {
        color: @blue;
        transition: color 0.3s ease;
      }
    }
    .n-author {
      float: right;
    }
    padding-right: 0;
    font-size: 14px;
    text-align: justify;
    word-wrap: break-word;
  }
}
.news-index {
  .news-wrapper.even {
    .n-image {
      float: right;
    }
    .n-text {
      padding-left: 0;
      padding-right: 15px;
    }
  }
  .n-image {
    overflow: hidden;
    padding: 0;
  }
}
.adm-wrapper {
  .employee-wrapper {
    text-align: center;
    .adm-fio {
      font-weight: 700;
    }
    .adm-posada {
      margin: 15px 0;
      font-weight: 700;
      font-size: 16px;
    }
    .adm-body {
      font-size: 15px;
      text-align: justify;
    }
  }
}

.page-404 {
  background-color: #000;
  font-family: cern, monospace;
  color: rgb(0, 255, 128);
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 0 0 15px;
    li {
      display: inline;
      a {
        color: #333;
        text-decoration: none;
        span {
          padding-left: 3px;
          padding-right: 0;
        }
      }
    }
    li:first-child {
      margin-left: 0;
      a {
        color: @blue;
      }
    }
    li:last-child {
      a {
        pointer-events: none;
        cursor: default;
        span {
          display: none;
        }
      }
    }
  }
}
.qoute-vertical {
  margin-top: 25px;
  .qoute-title {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
  }
}

.pagination-block {
  text-align: center;
  .pagination {
    a,
    span {
      cursor: pointer;
      border: 1px solid #C9C9C9;
      background-color: #F2F2F2;
      margin-right: 3px;
      border-radius: 3px;
      color: #737373;
      padding: 3px 8px;
    }
    a:hover,
    li:hover {
      background-color: #fff;
    }
    li.active {
      span {
        background-color: #5A5A5A;
        color: #ECECEC;
      }
    }
  }
}

.topn-slide {
  margin-top: 10px;
}
.topnews-slider {
  position: relative;

}
div.unslider {
  padding-top: 10px;
  position: relative;
  width: 100%;
  top: 15px;
  margin-bottom: 25px;
  .unslider-arrow.prev {
    top: 0;
  }
  .unslider-arrow {
    display: block;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

.n-cover {
  text-align: center;
  margin-bottom: 10px;
  img {
    border-radius: 15px;
  }
}

.title-wrapper {
  text-align: center;
  .page-title {
    color: @blue;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 19px;
    padding-bottom: 6px;
    margin: 10px 0 10px 0;
    border-bottom: 3px solid @greyA;
    //border-bottom: 3px solid @yellow;
    display: inline-block;
  }
  .divide-title {
    display: inline-block;
  }
}


.qoute-horizontal {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  .qoute-title {
    font-weight: 700;
  }
  .quote-author {
    text-align: right;
  }
}

.news-gorizontal {
  padding-bottom: 20px;
  .n-published {
    color: #535353;
    display: block;
    text-align: right;
    .n-time {
      color: #A9A9A9;
    }
  }
  .n-tags {
    display: inline;
    .comma {
      margin-left: -5px;
    }
    color: #535353;
    a {
      color: #A9A9A9;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    a:hover {
      color: @blue;
      transition: color 0.3s ease;
    }
  }
  .n-text {
    font-size: 15px;
  }
  .nbody {
    margin-top: 10px;
    text-align: initial;
    font-weight: initial;
    font-size: initial;

  }
  .n-author {
    text-align: right;
    font-weight: 700;
    font-size: 16px;
  }
}
.divide-title {
  color: @blue;
  line-height: 1.2;
  margin: 10px 0 20px 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 6px;
  border-bottom: 3px solid @greyA;
  //border-bottom: 3px solid @yellow;
  text-align: center;
}
.btn.btn-zkr {
  background-color: @blue;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  margin: auto;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.btn.btn-zkr:hover,
.btn.btn-zkr:focus {
  background-color: @dark-blue;
  color: #fff;
}

hr.divider {
  border-top: 2px solid @blue;
}
hr.divider.show {
  float: left;
  width: 100%;
}

.nbody {
  img {
    //display: block;
    padding: 10px;
  }
}

.page-title {
  text-align: center;
}

.advnews {
  .tabs {
    color: @blue;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    span {
      border-bottom: 3px solid @greyA;
      width: 49%;
      text-align: center;
      display: inline-block;
      color: @greyA;
    }
    span.active {
      color: @blue;
      border-bottom: 3px solid @blue;
    }
  }
  .advert-tab {
    display: none;
  }
  .news-tab,
  .advert-tab {
    .fn-wrapper {
      margin-bottom: 10px;
      .fn-created {
        color: @greyA;
      }
      .fn-image {
        vertical-align: top;
        display: inline-block;
        width: 100px;
        img {
          border-radius: 10px;
        }
      }
      .fn-fields {
        a {
          text-decoration: none;
        }
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        width: calc(~'100% - 115px');
        word-break: break-word;
        .fn-title {
          color: @blue;
          line-height: 1.2;
          margin: 0 0 7px 0;
          font-weight: 700;
        }
        .fn-body {
          font-size: 13px;
          line-height: 19px;
          color: #535353;
        }
      }
    }
    .fn-more {
      text-align: center;
      .btn {
        background-color: @blue;
        .watch-all {
          color: @btn-text-color;
          text-transform: uppercase;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
}
.all-c-wrapper .c-wrapper:nth-child(even) {
  .c-image {
    float: right;
  }
}
.all-c-wrapper {
  h4 a {
    color: #535353;
    font-weight: 700;
  }
  a {
    color: #A9A9A9;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  a:hover {
    color: @blue;
    transition: color 0.3s ease;
  }
}
.hp-small-title {
  color: @blue;
  line-height: 1.2;
  margin: 0 0 20px 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 6px;
  border-bottom: 1px solid #bcbcbc;
}
.massonry-wrapper {
  margin: 15px 0;
  text-align: center;
  .massonry-wrapper-inner {
    max-width: 1300px;
    margin: auto;
  }
  .plate-wrapper {
    width: 24%;
    border-radius: 10px;
    min-height: 300px;
    background-color: @dark-blue;
    color: #fff;
    padding: 20px 15px;
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 3px;
    transition: background-color 0.6s ease;
    min-width: 300px;

    a {
      text-decoration: none;
      outline: none;
      color: inherit;
    }
    .plate-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      text-rendering: optimizeLegibility;
    }
    .plate-body {
      ul {
        padding: 0;
        margin: 0;
      }
      li {
        padding: 5px 0;
        list-style-type: none;
        border-bottom: 1px solid #BCBCBC;
        cursor: pointer;
        background-color: inherit;
        color: inherit;
        transition: background-color 0.6s ease, color 0.6s ease;
      }
      li:hover {
        color: @dark-blue;
        background-color: white;
        transition: background-color 0.6s ease, color 0.6s ease;
      }
    }
  }
  .plate-wrapper:hover {
    background-color: @blue;
    transition: background-color 0.6s ease;
  }
}
.friends-wrapper {
  text-align: center;
  margin-bottom: 20px;
  .owl-item {
    margin: 0 1px;
  }
}
.zkr-footer {
  background-color: #2f2f2f;
  color: #fff;
  padding: 20px;
  text-align: right;
  font-size: 14px;
}

.left-nav-wrapper {
  width: 50%;
  max-width: 50%;
  float: left;
  padding: 0;
  .site-slogan {
    text-align: right;
    display: inline-block;
    color: white;
    font-style: italic;
    margin: 13px 0;
    font-size: 24px;
  }
}
.main-menu-wrapper {
  //background-color: @blue;
  background: linear-gradient(to top, @blue, @dark-blue);
  .relative-wrapper {
    position: relative;
  }
  .site-logo {
    //margin-left: 40px;
    img {
      width: 60px;
      height: 50px;
      margin-top: 2px;
    }
  }
  #main-menu.sm-blue {
    z-index: 10;
    margin: auto;
    background: linear-gradient(to top, @blue, @dark-blue);
    border-radius: 0;
    box-shadow: none;
    li {
      border: none;
      ul {
        padding: 10px 0;
        border-radius: 0;
        background-color: @dark-blue;
        border: none;
        li a{
          background-color: @dark-blue;
          font-size: 14px;
          padding: 5px 20px;
        }
        li:hover a{
          background: @whiteblue;
        }
      }
    }
    li:hover a {
      background-color: @dark-blue;
      //border-radius: 0;
      span.sub-arrow {
        background-image: url(images/menu_dropdown_hover.png);
      }
    }
    a {
      padding: 18px 20px 13px 13px;
      //background: @blue;
      background: linear-gradient(to top, @blue, @dark-blue);
      color: white;
      text-align: left;
      font-size: 15px;
      font-family: Open Sans, sans-serif;
      font-weight: 700;
      span.sub-arrow {
        right: 5px;
        top: 48%;
        background-image: url(images/menu_dropdown.png);
        background-repeat: no-repeat;
        border: none;
        width: 12px;
        height: 12px;
      }
    }
  }
  #main-menu.sm-blue > li:first-child {
    > a {
      background-image: url(images/house-icon-mm-white.png);
      font-size: 0;
      width: 46px;
      height: auto;
      background-repeat: no-repeat;
      background-position: 50% 59%;
    }
  }
  #main-menu.sm-blue > li > a {
    border-bottom: 5px solid @blue;
    //box-shadow: 1px -7px 12px -2px rgba(255,178,115,0.9);
    box-shadow: inset 6px 2px 5px -6px rgba(0, 121, 107, 0.9);
  }
  #main-menu.sm-blue > li:hover > a {
    border-bottom: 5px solid @yellow;
  }
}

.btn {
  box-shadow: 0 2px 5px 1px #797979;
}

.fixed-footer {
  position:fixed;
  bottom:0;
  width: 100%;
}

.goup-container {
  background-color: @yellow !important;
  opacity: 0.9;
}

//.navigation {
//  background-color: #3E3E3E;
//  .site-slogan {
//    color: rgb(0, 255, 128);
//    margin-right: 40px;
//  }
//  .main-menu-wrapper {
//    background: rgba(12, 27, 5, 0.71);
//    font-family: cern, monospace;
//    color: rgb(0, 255, 128);
//    box-shadow: inset -6px -5px 14px 2px rgba(0, 121, 107, 0.9);
//  }
//  .main-menu-wrapper #main-menu.sm-blue {
//    background-color: rgba(12, 27, 5, 0.71);
//    background: transparent;
//    > li:nth-of-type(1) {
//      box-shadow: 2px -13px 9px 10px rgba(0, 121, 107, 0.9);
//    }
//  }
//}

@media (max-width: 767px) {
  .main-menu-wrapper ul#main-menu {
    float: none;
  }
}