body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul#sortable li.placeholder {
    position: relative;
    /** More li styles **/
}
ul#sortable li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
.inner-div .menu-text {
    width: 35%;
    display: inline-block;
}
.inner-div .btn {
    margin-right:5px;
}
.inner-div .menu-check {
    display: inline-block;
    width: 20px;
    vertical-align: middle;
    box-shadow: none;
}
.sortable-sumbenu,
.ui-sortable {
    list-style-type: none;
    padding-left: 0;
}
.ui-sortable li {
    padding-right:0;
}
.ui-sortable .inner-div .offset-left {
    margin-left: 5px;
}
.ui-sortable input.button-icon {
    font-size: 0;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-position: 0;
    padding-left: 0;
    width: 38px;
    height: 38px;
    background-size: 38px;
    background-repeat: no-repeat;
    background-image: url('img/update.png');
}
.button-icon:hover,
.button-icon:visited {
    /*background-color: transparent;*/
}
.ui-sortable input.button-icon.delete_menu {
    background-image: url('img/delete.png');
}
.glyphicon-move {
    cursor: -webkit-grab;
}
.ui-sortable ol {
    list-style-type: none;
    padding-left: 0;
}